body {
  background: #000;
}
.track {
  font-family: sans-serif;
  font-size: 60px;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}
.track-name {
  background: -webkit-linear-gradient(top, #eee, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.track img {
  width: 150px;
  margin-bottom: 25px;
}