body {
  background: #000;
}
#message {
  font-family: sans-serif;
  font-size: 50px;
  letter-spacing: -0.05em;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
  background: -webkit-linear-gradient(top, #eee, #888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}